<div class="row">
    <div class="burger-display col-sm">
        <table class="table table-striped">
            <tbody>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <tr>
                            <th scope="row">
                                {{this.burger_name}} <button type="button" class="btn btn-light devour-btn" data-burgerid={{this.id}} name="button">Devoured</button>
                            </th>
                        </tr>
                    {{/unless}}
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="burger-display col-sm">
        <table class="table table-striped">
            <tbody>
                {{#each burgers}}
                    {{#if this.devoured}}
                        <tr>
                            <th scope="row">{{this.burger_name}}</th>
                        </tr>
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="form-group col-lg text-center">
        <form class="burgerAdd" action="" method="">
            <label for="burgerName">Enter a burger you want to eat and click "Submit"</label><br>
            <input type="text" name="burgerName" value=""><br>
            <button type="submit" class="btn btn-lg btn-primary" name="button">Submit</button>
        </form>
    </div>
</div>


<script type="text/javascript">
    $(".burgerAdd").on("submit", function(e) {
        e.preventDefault();

        var burgerToAdd = {
            burger_name: $(this).find("input").val(),
            devoured: 0
        }

        $.ajax({
            url: "/",
            type: 'POST',
            data: burgerToAdd
        }).then(function(){
            location.reload();
        });

    });

    $(".devour-btn").on("click", function(){
        var id = $(this).data("burgerid");

        $.ajax({
            url: `/${id}`,
            type: "PUT",
            data: id
        }).then(function(){
            location.reload();
        });
    });
</script>

