<div class="container">
    <h1>Burger List</h1>

    <div class="row">

        <div class="burger-display col-sm">
            <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <li>{{this.burger_name}} <button type="button" class="devour-btn" data-burgerid={{this.id}} name="button">Devoured</button> </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="burger-display col-sm">
            <ol>
                {{#each burgers}}
                    {{#if this.devoured}}
                        <li>{{this.burger_name}}</li>
                    {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="form-group col-lg">
            <form class="burgerAdd" action="" method="">
                <label for="burgerName">Enter a burger you want to eat and click "Submit"</label><br>
                <input type="text" name="burgerName" value=""><br>
                <button type="submit" name="button">Submit</button>
            </form>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(".burgerAdd").on("submit", function(e) {
        e.preventDefault();

        var burgerToAdd = {
            burger_name: $(this).find("input").val(),
            devoured: 0
        }

        $.ajax({
            url: "/",
            type: 'POST',
            data: burgerToAdd
        }).then(function(){
            location.reload();
        });

    });

    $(".devour-btn").on("click", function(){
        var id = $(this).data("burgerid");

        $.ajax({
            url: `/${id}`,
            type: "PUT",
            data: id
        }).then(function(){
            location.reload();
        });

    });


</script>

